/*стили и анимация футера*/
.footer {
    background-color: #dbdbdb;
    height: 100px;
  }
  .footer-menu {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
  }
  .footer-menu li {
    display: inline-block;
  }
  .footer-menu li a {
    display: inline-block;
    text-decoration: none;
    opacity: 0.6;
    color: black;
    padding: 10px;
  }
  .copyright {
    display: block;
    text-align: center;
  }
  .copyright a {
    text-decoration: none;
    color: crimson;
  }
  .footer-menu li a:hover {
    color: black;
    opacity: 1;
    transition-delay: 150ms;
  }